<div class="forgot-password-container" [ngClass]="{ 'pass-reset': linkSent }">
  <ng-container *ngIf="!linkSent; else success">
    <div class="login-wrapper mb-4">
      <div class="auth-heading">
        <h4 class="d-flex align-items-center">{{ "forgotPassword" | translate }}</h4>
        <h2>{{ "resetPasswordText" | translate }}</h2>
      </div>
    </div>
    <!-- <h3>{{ "forgotPassword" | translate }}</h3>
    <h4>{{ "resetPasswordText" | translate }}</h4> -->
    <div class="form mb-4" [formGroup]="forgotForm">
      <div class="form-group">
        <p class="form-label">
          {{ "email" | translate }} <span class="mandatory">*</span>
        </p>
        <input
          class="form-control"
          formControlName="email"
          autocomplete="off"
        />
        <mat-error
          *ngIf="forgotForm?.get('email')?.touched && forgotForm?.get('email')?.errors"
          >{{ forgotForm.get("email") | validationError : "Email" }}</mat-error
        >
      </div>
    </div>

    <div class="form-group w-100 mb-4">
      <button
        class="btn btn-primary w-100"
        type="submit"
        [disabled]="forgotForm.invalid"
        (click)="submit()"
      >
        {{ "forgetPassword" | translate }}
      </button>
    </div>
  </ng-container>
  <ng-template #success>
    <div class="image">
      <img src="assets/images/pass-green.svg" alt="" />
    </div>
    <h3>{{ "passwordResetSuccess" | translate }}</h3>
    <p>{{ "passwordSentToMail" | translate }}</p>
    <div class="input-fields">
      <fit-button
        type="submit"
        (Click)="routeToLogin()"
        [cls]="$any(loginBtnConfig.cls)"
        [buttonConfig]="loginBtnConfig"
        >{{ "login" | translate }}</fit-button
      >
    </div>
  </ng-template>
</div>
