<div class="forgot-password-container" [ngClass]="{ 'pass-reset': linkSent }">
  <ng-container *ngIf="!linkSent; else success">
    <h3>{{ "forgotPassword" | translate }}</h3>
    <h4>{{ "resetPasswordText" | translate }}</h4>
    <div class="form mb-4" [formGroup]="forgotForm">
      <div class="form-group">
        <p class="form-label">Email <span class="mandatory">*</span></p>
        <input
          class="form-control"
          formControlName="email"
          autocomplete="off"
        />
        <mat-error
          *ngIf="form?.get('email')?.touched && form?.get('email')?.errors"
          >{{ form.get("email") | validationError : "Email" }}</mat-error
        >
      </div>
    </div>

    <div class="form-group w-100 mb-4">
      <button
        class="btn btn-primary w-100"
        type="submit"
        [disabled]="forgotForm.invalid"
        (click)="submit()"
      >
        Forget Password
      </button>
    </div>
  </ng-container>
  <ng-template #success>
    <div class="image">
      <img src="../../../assets/images/pass-green.svg" alt="" />
    </div>
    <h3>Password Reset Successful</h3>
    <p>Your new password has been sent to your registered email address</p>
    <div class="input-fields">
      <fit-button
        type="submit"
        (Click)="routeToLogin()"
        [cls]="$any(loginBtnConfig.cls)"
        [buttonConfig]="loginBtnConfig"
        >Log In</fit-button
      >
    </div>
  </ng-template>
</div>
