<div
  class="mat-dialog-style w-100 d-flex flex-column align-items-center justify-content-center"
>
  <div class="error-modal-icon mb-3">
    <fit-image
      src="assets/images/error.svg"
      alt="Error"
      loading="lazy"
      fetchpriority="high"
    >
    </fit-image>
  </div>
  <div class="content-style" mat-dialog-content>
    <div class="error-content text-center">
      <div class="fw-600 text-lg mb-3">
        {{ data?.errorHeader }}
      </div>
      <p class="">
        {{ errorMsg | translate }}
      </p>
    </div>
  </div>
  <div class="text-center">
    <fit-button
      [cls]="$any(errorButtonConfig.cls)"
      (click)="errorDialogRef.close()"
      [buttonConfig]="errorButtonConfig"
    >
    </fit-button>
  </div>
</div>
