<div class="otp-input w-100 d-flex flex-column {{parentClass}}" >
    <p class="form-label">Enter OTP <span class="mandetory">*</span></p>  
  <form [formGroup]="otpForm" class="w-100 d-flex justify-content-between">
      <input
      matInput
      *ngFor="let box of boxes; let i = index"
      [id]="'otp-box-' + i"
      [type]="inputType"
      maxlength="1"
      autocomplete="off"
      [formControlName]="'otp-box-' + i"
      #dynamicInputRef
      (keypress)="isNumeric && validateNumericInput($event)"
      (input)="handleInput($event, i)"
      (keydown.backspace)="handleBackspace($event, i)"
      [class]="cls"
    />
    </form>
  </div>