@import './../../../../theme/mixins';
@import './../../../../theme/variable';

.container {
    &--weakly-meal {
        gap: 2rem;
    }
}

.weakly-card {
    &__day {
        width: 100px;
    }
    &__day__box {
        background: var(--gray-900);
        width: calc(100% - 10px);
        @include border-radius(12);
        text-align: center;
        padding: 10px 0;
        position: sticky;
        top: 100px;
        small {
            @include font-size(14);
            color: var(--bg-color);
        }
        p {
            @include font-size(18);
            color: var(--bg-color);
            font-weight: 600;
        }
    }
    &__content {
        flex: 1;
        background-color: var(--bg-color);
        @include border-radius(12);
        @include box-shadow();
    }
}

.meal-wise {
    &__dish-wrapper {
        gap: 2rem;
    }
    &__dish {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
        h6 {
            @include font-size(20);
            padding-left: 1.5rem;
        }
    }
    &__info {
        padding-left: 1.5rem;
        li {
            color: var(--gray-700);
            // padding: 10px 15px;
            // background: var(--gray-200);
            // border-radius: 40px;
            @include font-size(14);
            span {
                color: var(--gray-900);
                font-weight: 600;
            }
        }
    }
}