@import "./../../../theme/variable";
@import "./../../../theme/mixins";
.container-fluid--auth {
  max-width: 2000px;
}
.auth-bg {
  // background: #f4fff2 url(./../../../assets/images/bg-patterm.svg);
  top: 0;
  left: 0;
  &__bottom-left {
    left: 0;
    bottom: 0;
  }
  &__top-right {
    top: -180px;
    right: -180px;
    animation: rotateClip 30s linear infinite;
    transform-origin: center center;
  }
}

@keyframes rotateClip {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.auth-container {
  min-height: 100vh;
  padding-top: 7rem;
}

.auth-card {
  background: var(--bg-color);
  border-radius: 20px;
  @include box-shadow;
  max-width: 550px;
  margin: auto;
}

.auth-card-right {
  &__clip {
    bottom: 80px;
    left: -80px;
    z-index: -1;
  }
}

.offering {
  h5 {
    @include font-size(20);
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    gap: 20px;
  }
  li {
    gap: 10px;
    @include font-size(16);
  }
}

.auth-offering-left {
  h4 {
    @include font-size(40, 1.5);
    color: var(--gray-900);
  }
  h2 {
    @include font-size(40);
    color: var(--primary-color);
    font-weight: 900;
    margin-bottom: 2rem;
  }
}
.offering {
}

.brand-logo {
  z-index: 2;
  top: 10px;
  left: 30px;
  width: 120px;
}


@media (orientation: landscape) and (max-height: 700px) {
  .auth-bg__bottom-left {
    width: 140px;
  }
  .auth-bg__top-right {
    top: -100px;
    right: -100px;
    width: 320px;
}
}